# Discord webhook URL - remove the X_ prefix to enable this during local dev
X_DISCORD_WEBHOOK_URL = "https://discord.com/api/webhooks/serverID/webhookID"

# PostHog API key
POSTHOG_API_KEY = "phc_postHogApiKey"
